*.pyc
*.hdf5
*.jpg
*.txt
*.hd5
*.h5
*.exe
*.class
*.obj
*.java
*.log
python/Python_for_data_analysis/Untitled.ipynb
JAVA/corejava10/*
*.zip
*/.vscode/*
*/*/.vscode/c_cpp_properties.json
python/Python_for_data_analysis/*
python/path
*.7z
